body {
  margin: 0;
  padding: 0;
}
p {
  font-size: 16px;
}
.okvir {
  border: 2px solid black;
  width: 650px;
  margin: 30px;
  padding: 30px 0px 50px 26px;
}
ul {
}

.tabela ul li {
  margin-bottom: -20px;
  display: inline-block;
  background-color: chocolate;

  margin-left: -4px;
  width: 50px;
  height: 50px;
}

.parne :nth-child(even) {
  background-color: orange;
}
.neparne :nth-child(odd) {
  background-color: orange;
}
.strana ul {
  list-style-type: none;
}

.strana p {
  text-align: center;
  padding-top: 19px;
}

.strana {
  height: 450px;
  width: 40px;
  margin-right: 10px;

  position: relative;
  float: left;
}
.strana2 {
  height: 450px;
  width: 40px;
  margin-right: 10px;
  padding-left: -30px;
  margin-top: -70px;

  position: relative;
  float: right;
}
.strana2 p {
  text-align: center;
  padding-top: 19px;
}
