body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  filter: brightness(80%);
}
.dugme{
  width: 40px;
  height: 45px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color:rgba(0, 0, 0, 0.6) ;
  color: white;
  cursor: pointer;
  border: none;
}
.container {
  width: 100%;
  height: 130vh;
  z-index: 100;
}
.okvir {
  height: 130vh;
  padding: 25px;
  display: flex;
}
.levi {
  width: 50%;
  height: 120vh;
  position: fixed;
}
.menu {
  display: flex;
  flex-direction: column;
}
.levi-title {
  width: 504px;
  height: 160px;
  background-color: white;
  color: #099;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.levi-menu button {
  cursor: pointer;
  width: 240px;
  height: 100px;
  background-color: white;
  color: #099;
  outline: none;
  border: none;
  font-size: 1.2rem;
  margin-bottom: 25px;
  padding: 0px;
  justify-content: center;
}
.levi-menu button.aktivan{
  background-color: #099;
  color: white;
}

.levi-menu button:hover {
  background-color: #099;
  color: white;
}

.levi-menu button:nth-child(odd) {
  margin-right: 20px;
}
.tm-page-link-icon{
  margin-right: 25px;
  font-size: 1.5rem;

}
.tm-site-logo{
  margin-right: 25px;
  font-size: 1.5em;
 }

.desni {
  width: 50%;
  height: 120vh;
  position: absolute;
  right: 0px;
}
.content {
  width: 660px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.content-header {
  width: 660px;
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none; /* Remove bullets */
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 1.2rem;
}

.content-header li {
  cursor: pointer;
}

.content-active {
  color: #96feff;
  border-bottom: 3px solid #96feff;
}
.content-hot:hover {
  color: #96feff;
  border-bottom: 3px solid #96feff;
}
.content-fruit:hover {
  color: #96feff;
  border-bottom: 3px solid #96feff;
}

.box1 {
  width: 660px;
  height: 172px;
  display: flex;
  margin-top: 20px;
 align-items: center;
}
.slika1 {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  
}
.tekst1 {
  padding: 20px 25px;
  width: 500px;
  height: 130px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  
}.naslov{
  width: 420px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  
}
.slova{
  color: #099;
}
.unutar{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.8;
  
}
footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}
.footertext {
  height: 50px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: relative;
  color: white;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}
